<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style type="text/css">
        a {
        color: black!important;
    }
    #div1{
        border-radius:7px!important;
        margin-top: 20px;
    }
    .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(0, 255, 238);
   color: white;
   text-align: center;
    }
ul a {
  color:inherit;
  text-decoration:none !important;
  opacity:0.8;
}

    </style>
</head>
<body class="center" style=" background-color: #f5f5f5">
    <div id="div1" class="container shadow p-3 mb-5 bg-body rounded border border-5" style="border-radius:5px">
            <div class="auto-style76">
                <a class="navbar-brand" href="#" style="max-width:258px; width:110px!important;"><img style="width:110px!important;" src="{{ url_for('static', filename='images/MMCS.png') }}" width="80px" style="padding-bottom:6px"></a>
                <a class="navbar-brand" style="font-size:25px">Monorail</a>
                <a class="navbar-brand rounded float-end" href="#" style="max-width:158px;"><img src="{{ url_for('static', filename='images/Monorail_Site.png') }}" width="60px" style="padding-bottom:6px;" ></a>
                
                <table class="table table-success table-striped table-hover ">
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Title</th>
                          <th scope="col">Report</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Train Report</td>
                          <td><button type="button" class="btn btn-light" ><a href="/report" style="text-decoration:none ;">Show</a></button></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Train History</td>
                          <td><button type="button" class="btn btn-light"><a href="/Trainhistory" style="text-decoration:none ;">Show</a></button></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td >Maintenance</td>
                          <td><button type="button" class="btn btn-light"><a href="/maintenance" style="text-decoration:none ;">Show</a></button></td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td >Operators</td>
                          <td><button type="button" class="btn btn-light"><a href="/operator" style="text-decoration:none ;">Show</a></button></td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td >Signins</td>
                          <td><button type="button" class="btn btn-light"><a href="/login" style="text-decoration:none ;">Show</a></button></td>
                        </tr>
                      </tbody>
                    
                </table>
            </div>
            <div class="card text-center"style="margin-top: 100px; height: 150px; margin-bottom: 0px; height: 100px;">
                
                <div class="card-body" style="padding-bottom: 0px; margin-bottom: 0px;">
                    <ul class="list-inline">
                        <li class="list-inline-item" style="text-decoration:none !important;"><a href="#">Home</a></li>
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><a href="#">Terms</a></li>
                        <li class="list-inline-item"><a href="https://bombardier.com/en/privacy#:~:text=You%20have%20the%20right%20to%20object%20to%20our%20use%20of,purposes%20%E2%80%93%20to%20withdraw%20your%20consent">Privacy Policy</a></li>
                    </ul>
                    <p class="copyright">MMCS © 2022</p>
                </div>
                
              </div>
    </div>
</body>




</html>
    